[Desktop Entry]
Name=Paralives
Comment=Play this game on Steam
Exec=steam steam://rungameid/1118520
Icon=steam_icon_1118520
Terminal=false
Type=Application
Categories=Game;
